<!doctype html>
<html>
    <head>
        <title>
            Mi Blog
        </title>
    </head>
    <body>
        <h1>
            Lista de publicaciones
        </h1>
        {%for post in posts%}
            <div>
                <h2>
                    {{post.titulo}}
                </h2>
                <p>
                    {{post.fecha_creacion}}
                </p>
                <a href="{% url 'detalle_post' post.id %}">
                    leer mas
                </a>
                <a href="{% url 'editar_post' post.id %}">Editar</a>
            </div>
            <a href="{% url 'crear_post' %}">Crear nuevo post</a>
        {% empty %}
            <p>No hay publicaciones todavía.</p>
        {% endfor %}
    </body>
</html>